#courses{background-color: white;}
#courses>.container>.row>.cards>a{text-decoration: none;}
.single__course__item {
  padding: 15px;
  box-shadow: 2px 2px 5px black; /*#17bf9e*/
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
  flex: 1;
}

.course__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.course__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course__description {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.course__stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
  align-items: center;
}

.course__stats p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.course__stats p i {
  font-weight: 400;
}

.enroll {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #17bf9e;
}
.course__details>.d-flex p,.course__details>.d-flex span{font-size: smaller;}
@media screen and (max-width:992px) {
}