@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap");
/* =========== base style ========= */
@font-face {
  font-family: 'ysabeau';
  src: url(YsabeauSC-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  line-height: 50px;
  font-family: "ysabeau", sans-serif;
  color: #0a2b1e;
  font-weight: 600;
}

p {
  color: #596b65;
  font-size: 1rem;
  line-height: 35px;
  font-family: "Andada Pro", serif;
  font-weight: 400;
}

button.btn {
  background: #17bf9e;
  color: #fff;
  border-radius: 10px;
}
.bg{background: #17bf9e;}
button.btn:hover{background:#08a183; color: white;}

i {
  color: #17bf9e;
}
.flex{display: flex;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}
.end{justify-content: flex-end;}
input:focus{
  outline: none !important;
}
.main-parent{
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

section{
  min-height:100vh;
  background: white;
  margin: 10rem 0;
  display: flex;
  align-items: center;
}
.section>div{padding:30px 15px 15px;}
section{margin-top:80px;}
section:last-child{margin-bottom: 0;}
.routes {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  flex-grow: 1;
  position: relative;
  background-image: url('./assests/images/Bg2.jpg'),url('./assests/images/BG\ gif.gif');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center top,center bottom;
  background-attachment: fixed;
}